@model WebAppEjercicioFinal.Models.Tienda

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>Esta seguro de eliminar el producto de la tienda?</h3>
<div>
    <h4>Tienda</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Producto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Producto.ProductoID)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UbicacionProducto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UbicacionProducto)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TiendaID" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index"><i class="fas fa-backward">Atrás</i></a>
    </form>
</div>
