@model IEnumerable<WebAppEjercicioFinal.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>Productos</h1>

<p>
    <a asp-action="Create"><button class="btn btn-primary">Nuevo</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioProducto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioProducto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductoID" class="btn btn-success">Editar<i class="fas fa-edit"></i></a>
                <a asp-action="Details" asp-route-id="@item.ProductoID"class="btn btn-warning">Detalles<i class="fas fa-th-list"></i></a>
                <a asp-action="Delete" asp-route-id="@item.ProductoID"class="btn btn-danger">Eliminar<i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
